@import url('https://fonts.googleapis.com/css2? family= Krona+One & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --cor-primaria:#073b4c;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #ffd166;
    --cor-hover: #ef476f;

    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    color: var(--cor-hover)
}

.cabecalho{
 padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 79px;
}

.apresentacao{                                                                        
    margin: 5% 15%;
    display:flex;

    align-items:start;
    justify-content:space-between;
    gap: 50px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria)
}

.titulo__destaque{
    color: var(--cor-hover);
}

.apresentacao__conteudo__paragrafo{
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 381px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 21.5px 0;
    text-decoration: none;
    color:var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
    color: var(--cor-primaria);
    padding: 3%;
}

div:hover{
    color: var(--cor-hover);
}

.apresentacao__imagem{
    align-items:end;
    width: 50%;
}

.rodape{
    color:var(--cor-terciaria);
    background-color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    border-top:  1px solid var(--cor-terciaria) ;
}

.apresentacao__conteudo__paragrafo a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.certificados{
    margin-top: 1rem;
}

@media(min-width:401px) and (max-width:1024px){
    body {
        background-color: var(--cor-primaria);
        color: var(--cor-secundaria);
    }
    
    .cabecalho{
        padding: 5%;
        gap: 41px;
    }

    .cabecalho__menu{
        justify-content: center;
        gap: 25px;
        font-size: 1rem;

    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: auto;
        margin: 5% 5%;
        align-items:center;
        justify-content:space-between;
        gap: 40px;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .apresentacao__conteudo__titulo{
        font-size: 1.5rem;
    }

    .apresentacao__conteudo__paragrafo{
        font-size: 1rem;
    }

    .apresentacao__links__subtitulo{
        font-size: 1rem;
    }

    .rodape{
        font-size: 1rem;
    }
}

@media (max-width:400px){
    body {
        background-color: var(--cor-primaria);
        color: var(--cor-secundaria);
    }
    
    .cabecalho{
        padding: 5%;
        gap: 50px;
    }

    .cabecalho__menu{
        justify-content: center;
        gap:10px;
        font-size: 1.25rem;
    }

    .container__apresentacao{
        flex-direction: column-reverse;
        padding: auto;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .apresentacao__conteudo__titulo{
        font-size: 1.25rem;
        justify-content: center;
    }
   
    .apresentacao__conteudo__paragrafo{
        font-size: 0.75rem;
    }

    .apresentacao__imagem{
        width: 100%;

    }
        
    }

