

/* INICIO DE HEADER */


header{

    display: flex;
    justify-content: space-between;
    background-color: var(--cor-planoDeFundo);

}

.header{
    z-index: 1;
    background-color: var(--cor-planoDeFundo);
    box-sizing: border-box;
    position: fixed;
    height: 4rem;
    width: 100%;
    margin-bottom: 3rem;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--cor-fonte-primaria);
    display: flex;
    text-decoration: none;
    border-bottom: solid 2px var(--cor-fonte-terciaria);
}

#burguer{
    background-color:transparent;
    position: absolute;
    top: 10%;
    left: 20%;
    color: var(--cor-fonte-padrao);
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.burguer:hover{
    background-color: transparent;
    color: var(--cor-fonte-hover);
}

#itens{
    background-color: var(--cor-fonte-terciaria);
    color: var(--cor-fonte-padrao);
    position: relative;
    top: 0;
    left: -27rem
}

.list{
    width: 15rem;
    background-color: var(--cor-fonte-terciaria);
    list-style-type: none;
    position: absolute;
}

.item{
    color: var(--cor-fonte-padrao);
}

.item:link{
    text-decoration: none;
    color: var(--cor-fonte-padrao);
}

.item:hover{
    text-decoration: none;
    color: var(--cor-fonte-secundaria);
}

.container__toggle{
    width: 20px;
    display: flex;
    position: absolute;
    top: -2rem;
    left: 80%;
}

.menu__title{
    position: absolute;
    align-items:start;
    text-decoration: none;
    color: var(--cor-fonte-padrao);
    font-size: 2rem;
    font-weight: 500;
}

.menu__title h2{
    align-items: start;
}



/* FIM DE HEADER */

@media (max-width:720px){
  
    .header{
        height: 3rem;
    }

    #itens{
        top: -1rem;
        left: -6rem
    }

    .list{
        width: 7rem;
    }

    .list__itens{
        font-size: 1rem;
    }
}