/* INICIO DE APRESENTAÇÃO*/

.container__apresentacao {
    margin: 10% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.apresentacao__conteudo__intro {
    display: flex;
    flex-direction: column;

}

.apresentacao__conteudo__titulo {
    font-size: 3rem;
    font-family: var(--fonte-terciaria);
    font-weight: 400;
    color: var(--cor-fonte-padrao)
}

.titulo__destaque {
    color: var(--cor-fonte-terciaria);
    font-weight: 500;
    font-size: 3.5rem;
}

.apresentacao__conteudo__subtitulo {
    padding: 0;
    color: var(--cor-fonte-primaria);
    font-weight: 100;
}

.actions {
    display: flex;
    gap: 2.5rem;
}

.actions__cv {
    width: 9rem;
    background: linear-gradient(90deg, rgba(121, 48, 190, 0.648) 100%, rgba(130, 87, 230, 0.8) .2%);
    color: var(--cor-fonte-padrao);
    font-size: 1rem;
    padding: 1rem 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    border: none;
}

.actions__cv:hover {
    transform: scale(1.1);
}

.actions a {
    justify-content: center;
}

.actions__email {
    width: 9rem;
    background: linear-gradient(90deg, rgba(121, 48, 190, 0.648) 100%, rgba(130, 87, 230, 0.8) .2%);
    color: var(--cor-fonte-padrao);
    font-size: 1rem;
    padding: 1rem 1rem;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid var(--cor-fonte-hover);
    border-radius: 2rem;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
}

.actions__email:hover {
    transform: scale(1.1);
}

.apresentacao__imagem {
    align-items: end;
    width: 30%;
}


/* FIM DE APRESENTAÇÃO*/

/* INICIO DE SOBRE MIM */

.container__about {
    margin: 15% 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 100;
    flex-direction: column;
    transform: translateX(7);
    opacity: 1;
    transition: 0.5s;
    gap: 8rem;
    padding: 3rem 1rem;
}

.about__title {
    padding: 1rem;
    color: var(--cor-fonte-padrao);
    font-weight: 600;
    font-size: 2.5rem;
}

.about__conteudo__paragrafo {
    padding: 1rem;
    color: var(--cor-fonte-primaria);
    font-size: 1.5rem;
}

/* FIM DE SOBRE MIM */

/* INICIO DE HABILIDADES */

.container__habilidades {
    margin: 15% 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

.habilidades__title {
    margin: 8rem;
    color: var(--cor-fonte-padrao);
    font-weight: 600;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.box {
    margin: 8rem 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 16px;
    margin-bottom: 1px;
}

.cards {
    background-color: var(--cor-fonte-quaternaria);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    height: 170px;
    padding-bottom: 20px;
    border-radius: 12px;
    border-bottom: 15px solid var(--cor-fonte-hover);

}

.cards img {
    width: 100px;
    height: 100px;
    align-content: end;
}

.box span {
    padding: 16px;
    position: relative;
    color: var(--cor-fonte-hover);
    font-size: 24px;
    font-weight: 300;
}

/* FIM DE HABILIDADES */

/* INICIO DE PROJETOS */

.projetos__title {
    margin: 8rem;
    color: var(--cor-fonte-padrao);
    font-weight: 600;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.movies {
    margin: 8rem 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.movies:link {
    text-decoration: none;
    color: var(--cor-fonte-padrao);
}

.movies:hover {
    text-decoration: none;
    color: var(--cor-fonte-primaria);
}

.movies__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.4s;
    text-decoration: none;
    color: var(--cor-fonte-padrao);
}

.movies__item:hover {
    opacity: 1;
}

.movies__item a {
    text-decoration: none;
    color: var(--cor-fonte-padrao);
}

.movies__title {
    align-items: center;
    justify-content: center;
}

.movies__title {
    display: flex;
    align-items: center;
}

.movies__img {
    width: 300px;
}

.movies__img:hover {
    transition: 0.4s;
    transform: scale(1.3);
}

/* FIM DE PROJETOS */






/* INICIO DE MINHAS REDES */

.container__minhasRedes {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.minhasRedes__title {
    margin-bottom: 5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minhasRedes__links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.minhasRedes__links__itens {
    display: flex;
    flex-direction: column;
}

.minhasRedes__links__itens {
    display: flex;
    flex-direction: column;
}

.minhasRedes__links__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minhasRedes__links__item:hover {
    transition: 0.4s;
    transform: scale(1.2);
}

.minhasRedes__links__item:link {
    text-decoration: none;
    color: var(--cor-fonte-terciaria);
}

.minhasRedes__links__item img {
    width: 100px;
}

.minhasRedes__links__item p {
    text-decoration: none;
    color: var(--cor-fonte-padrao);
}

/* FIM DE MINHAS REDES */



/* INICIO DE CONTATO */
.container__contato {
    width: 80%;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1% 8%;
    transform: translateX(7);
    opacity: 1;
    transition: 0.5s;
    gap: 1rem;
    padding: 1rem 1rem;
}

.contato__title {

    padding: 1rem;
    color: var(--cor-fonte-padrao);
    font-weight: 600;
    font-size: 2.5rem;
}

.contato__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.contato__links__item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
}

.contato__links__item:hover {
    transition: 0.4s;
    transform: scale(1.2);
}

.contato__links__item p {
    color: var(--cor-fonte-padrao);
}

.contato__links__item img {
    width: 100px;
}

.whatsapp {
    width: 10px;
}

/* FIM DE CONTATO */

@media (max-width: 720px) {

    /*  INICIO DE CONTAINER APRESENTAÇÃO   */

    .container__apresentacao {
        flex-direction: column-reverse;
        margin-top: 25%;
        gap: 1rem;
    }

    .apresentacao__conteudo {
        width: 80%;
        gap: 1rem;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1rem;
    }

    .titulo__destaque {
        font-size: 1.3rem;
    }

    .apresentacao__conteudo__subtitulo {
        font-size: 0.75rem;
    }

    .apresentacao__imagem {
        width: 40%;
    }

    .actions {
        flex-direction: column;
        gap: 1rem;
    }

    .actions__cv {
        width: 8rem;
        height: .75rem;
        font-size: .75rem;
    }

    .actions__cv p {
        align-items: center;
        justify-content: center;
    }

    .actions__email {
        width: 8rem;
        height: .75rem;
        font-size: .75rem;
    }

    /*  FIM    */

    /*  INICIO DE SOBRE MIM RESPONSIVO 720PX*/

    .container__about {
        margin: 40% 10%;
        gap: 4rem;
    }

    .about__title {
        font-size: 1.5rem;
    }

    .about__conteudo__paragrafo {
        font-size: 1rem;
    }

    /*  FIM */

    /*  INICIO DE CONTAINER HABILIDADES RESPONSIVO 720PX */

    .container__habilidades {
        margin: 45% 10%;
        padding: 0;
    }

    .habilidades__title {
        margin: 0;
        font-size: 1.5rem;
        padding: 1rem;
    }

    .box {
        margin: 4rem 4rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cards {
        width: 100px;
        height: 80px;
        gap: 1rem
    }

    .cards img {
        width: 50px;
        height: 50px;
    }

    .cards span {
        font-size: 1rem;
        padding: 0;
    }

    /*  FIM */

    /*  INICIO DE CONTAINER PROJETOS    */

    .projetos__title {
        margin: 0;
        font-size: 1.5rem;
    }

    .movies {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        gap: 1rem;
        padding: 0;
    }

    .movies__item {
        padding: 0;
    }

    /* INICIO DE MINHAS REDES RESPONSIVIDADE 720PX  */

    .minhasRedes__title {
        font-size: 1.5rem;
    }

    /*  FIM     */

    /*  INICIO DE CONTATOS RESPONSIVO 720PX     */

    .contato__title {
        font-size: 1.5rem;
    }

    /*  FIM     */

}