/* INICIO DE MINHAS REDES */

.container__minhasRedes {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.minhasRedes__title {
    margin-bottom: 5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minhasRedes__links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.minhasRedes__links__itens {
    display: flex;
    flex-direction: column;
}

.minhasRedes__links__itens {
    display: flex;
    flex-direction: column;
}

.minhasRedes__links__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minhasRedes__links__item:hover {
    transition: 0.4s;
    transform: scale(1.2);
}

.minhasRedes__links__item:link {
    text-decoration: none;
    color: var(--cor-fonte-terciaria);
}

.minhasRedes__links__item img {
    width: 100px;
}

.minhasRedes__links__item p {
    text-decoration: none;
    color: var(--cor-fonte-padrao);
}

/* FIM DE MINHAS REDES */



/* INICIO DE CONTATO */
.container__contato {
    width: 80%;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1% 8%;
    transform: translateX(7);
    opacity: 1;
    transition: 0.5s;
    gap: 1rem;
    padding: 1rem 1rem;
}

.contato__title {

    padding: 1rem;
    color: var(--cor-fonte-padrao);
    font-weight: 600;
    font-size: 2.5rem;
    margin: 3rem 0;
}

.contato__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.contato__links__item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
}

.contato__links__item:hover {
    transition: 0.4s;
    transform: scale(1.2);
}

.contato__links__item p {
    color: var(--cor-fonte-padrao);
}

.contato__links__item img {
    width: 100px;
}

.whatsapp {
    width: 10px;
}

/* FIM DE CONTATO */


@media(max-width:720px){

    
    /* INICIO DE MINHAS REDES RESPONSIVIDADE 720PX  */

    .minhasRedes__title {
        font-size: 1.5rem;
    }

    /*  FIM     */

    /*  INICIO DE CONTATOS RESPONSIVO 720PX     */

    .contato__title {
        font-size: 1.5rem;
    }

    /*  FIM     */

}