/* INICIO DE PROJETOS */

.projetos__title {
    margin-top: 8rem;
    color: var(--cor-fonte-padrao);
    font-weight: 600;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    padding: 8rem 0;
}

.movies {
    margin: 0 16rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.movies:link {
    text-decoration: none;
    color: var(--cor-fonte-padrao);
}

.movies:hover {
    text-decoration: none;
    color: var(--cor-fonte-primaria);
}

.movies__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.4s;
    text-decoration: none;
    color: var(--cor-fonte-padrao);
}

.movies__item:hover {
    opacity: 1;
}

.movies__item a {
    text-decoration: none;
    color: var(--cor-fonte-padrao);
}

.movies__title {
    align-items: center;
    justify-content: center;
}

.movies__title {
    display: flex;
    align-items: center;
}

.movies__img {
    width: 300px;
}

.movies__img:hover {
    transition: 0.4s;
    transform: scale(1.3);
}

/* FIM DE PROJETOS */

@media(max-width:720px){
        /*  INICIO DE CONTAINER PROJETOS    */

        .projetos__title {
            margin: 0;
            font-size: 1.5rem;
        }
    
        .movies {
            display: flex;
            flex-direction: column;
            margin: 1rem;
            gap: 1rem;
            padding: 0;
        }
    
        .movies__item {
            padding: 0;
        }
    
}